# === SPHYNIX STORE TELEGRAM BOT CONFIG ===

# Token bot dari @BotFather
BOT_TOKEN=your-telegram-bot-token-here

# Zona waktu (disarankan Asia/Jakarta)
TZ=Asia/Jakarta

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=auto_order


QR_STRING=""
PAYMENT_EXPIRES_MINUTES=15
PAYMENT_GATEWAY=gopay
GOBIZ_EMAIL=
GOBIZ_PASSWORD=''
