# GoBiz creds/token
GOBIZ_EMAIL=
GOBIZ_PASSWORD=
GOBIZ_ACCESS_TOKEN=
GOBIZ_REFRESH_TOKEN=
GOBIZ_MERCHANT_ID=
GOBIZ_STATE_PATH=./gopay_state.json

# QRIS + payment
QR_STRING=
PAYMENT_EXPIRES_MINUTES=15
PAYMENT_GATEWAY_LABEL=SENPRO

# Pyrogram
BOT_TOKEN=
API_ID=
API_HASH=
